@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {

    @font-face {
        font-family: "Inter Bold";
        src: url("../font/Inter_28pt-Bold.ttf");
        font-display: swap;
    }

    @font-face {
        font-family: "Inter";
        src: url("../font/Inter_28pt-Regular.ttf");
        font-display: swap;
    }

    input {
        outline: none;
    }

    textarea {
        resize: none !important;
        outline: none;
    }

    select {
        outline: none;
    }
}

@theme {
    --font-inter: "Inter";
    --font-interBold: "Inter Bold";

    --shadow-light: 0 8px 20px rgba(0, 0, 0, 0.08), 0 4px 10px rgba(0, 0, 0, 0.06);
    --shadow-dark: 0 8px 20px rgba(0, 0, 0, 0.45), 0 4px 10px rgba(0, 0, 0, 0.25);
}

@layer utilities {
    .flex-center {
        @apply flex justify-center items-center;
    }

    .my-shadow {
        @apply shadow-light dark:shadow-dark;
    }
}

@layer components {
    .todo-completed-checkbox {
        @apply block relative size-6 border border-gray-500 dark:border-gray-700 rounded p-1 peer-checked:bg-emerald-500 cursor-pointer transition;
    }

    .todo-completed-checkbox::before {
        content: '';
        position: absolute;
        inset: 0;
        margin: 0 auto;
        width: 9px;
        height: 16px;
        transform: rotate(45deg);
        transition: all ease-in-out 150ms;
    }

    .todo-checkbox-input:checked + .todo-completed-checkbox::before {
        @apply  border-b-3 border-r-3 md:border-b-4 md:border-r-4 border-white;
    }

}
